@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
  @apply text-center lg:text-left text-3xl font-extrabold leading-tight text-red-700 font-mono;
}

body{
  @apply bg-white;
}

.signupbtn{
  @apply bg-black text-white px-5 py-3 max-w-sm m-auto;
}

.signinbtn{
  @apply border border-black px-5 py-3;
}

body::-webkit-scrollbar {
  /* background: red; */
  border-radius: 15px;
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.scrolled{
 @apply bg-orange-300;
}
.c{
color:#fbf4c1
}